@model TranslatorDto

@{
    ViewBag.Title = "Видалити перекладача";
}

<form asp-action="Delete" method="post">
    <input hidden asp-for="TranslatorID"/>
    <input hidden asp-for="CountryID"/>

    <h2 class="text-center mb-3">Видалити</h2>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="FullName" class="form-label">ПІБ</label>
            <input asp-for="FullName" class="form-control disabled" disabled />
        </div>
        <div class="col-md-6">
            <label asp-for="CountryID" class="form-label">Країна</label>
            <select asp-for="CountryID" asp-items="ViewBag.Countries" class="form-select" disabled>
            </select>
            <span class="text-danger" asp-validation-for="CountryID"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-2 col-md-3 offset-lg-4 offset-md-3">
            <button type="submit" class="btn btn-danger form-control">Видалити</button>
        </div>
        <div class="col-6 col-lg-2 col-md-3">
            <a class="btn btn-secondary form-control" asp-action="Index">Повернутися</a>
        </div>
    </div>

    <ul class="text-danger">
        @if (ViewBag.Errors != null)
        {
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        }
    </ul>
</form>


<div class="d-flex flex-column align-content-center gap-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Назва</th>
                <th scope="col">Доступно копій</th>
                <th scope="col">Місце зберігання</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookEdition in Model.BookEditions)
            {
                <tr>
                    <td>@bookEdition.ISBN</td>
                    <td>@bookEdition.Title</td>
                    <td>@bookEdition.AvailableCopies</td>
                    <td>@bookEdition.ShelfLocation</td>
                </tr>
            }
        </tbody>
    </table>
</div>