@model PaginatedResult<LoanDto>

@{
    ViewBag.Title = "Видачі книг";
}

<div class="d-flex flex-column align-content-center gap-3 mt-4">
    <h2 class="text-center">Видачі книг</h2>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a class="btn btn-primary" asp-action="Add">Додати</a>
        </div>
        <form asp-action="Index" method="get" class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="showOverdueOnly" name="showOverdueOnly" value="true" @(ViewBag.ShowOverdueOnly ? "checked" : "")>
            <label class="form-check-label" for="showOverdueOnly">Показати забаргованості</label>
            <button type="submit" class="btn btn-primary btn-sm ms-2">Застосувати</button>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Книга</th>
                <th scope="col">Читач</th>
                <th scope="col">Дата видачі</th>
                <th scope="col">Запланована дата повернення</th>
                <th scope="col">Фактична дата поверення</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model.Items)
            {
                <tr>
                    <td>
                        <a asp-controller="BookEditions" asp-action="Edit" asp-route-id="@loan.LoanID" class="text-decoration-none text-black">
                            @loan.BookEdition?.Title, ISBN: @loan.BookEdition?.ISBN
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Readers" asp-action="Edit" asp-route-id="@loan.ReaderID" class="text-decoration-none text-black">
                            @loan.Reader?.LibraryCardNumber, ПІБ: @loan.Reader?.FullName
                        </a>
                    </td>
                    <td>@loan.LoanDate</td>
                    <td>@loan.DueDate</td>
                    <td>@loan.ReturnDate</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@loan.LoanID">Видалити</a>
                        <a asp-action="Edit" asp-route-id="@loan.LoanID">Редагувати</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_PaginationPartial", (Model.Page, Model.TotalPages))
</div>