@model PaginatedResult<LoanDto>

@{
    ViewBag.Title = "Видачі книг";
}

<a class="btn btn-primary mt-2 mb-4" asp-action="Add">Додати</a>

<div class="d-flex flex-column align-content-center gap-3">
    <h2 class="text-center">Видачі книг</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Книга</th>
                <th scope="col">Читач</th>
                <th scope="col">Дата видачі</th>
                <th scope="col">Запланована дата повернення</th>
                <th scope="col">Фактична дата поверення</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model.Items)
            {
                <tr>
                    <td>
                        <a asp-controller="BookEditions" asp-action="Edit" asp-route-id="@loan.LoanID" class="text-decoration-none text-black">
                            @loan.BookEdition?.Title, ISBN: @loan.BookEdition?.ISBN
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Readers" asp-action="Edit" asp-route-id="@loan.ReaderID" class="text-decoration-none text-black">
                            @loan.Reader?.LibraryCardNumber, ПІБ: @loan.Reader?.FullName
                        </a>
                    </td>
                    <td>@loan.LoanDate</td>
                    <td>@loan.DueDate</td>
                    <td>@loan.ReturnDate</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@loan.LoanID">Видалити</a>
                        <a asp-action="Edit" asp-route-id="@loan.LoanID">Редагувати</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_PaginationPartial", (Model.Page, Model.TotalPages))
</div>