@model PaginatedResult<ReaderDto>

@{
    ViewBag.Title = "Читачі";
}


<div class="d-flex flex-column align-content-center gap-3 mt-4">
    <h2 class="text-center">Читачі</h2>

    <div class="float-start d-inline-block">
        <a class="btn btn-primary" asp-action="Add">Додати</a>
    </div>

    <div class="row">
        <form asp-action="Index" method="get" class="col-12 col-md-8 offset-md-2">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Пошук...">
                <select name="searchType" class="form-select">
                    <option value="fullName">ПІБ</option>
                    <option value="libraryCardNumber">Номер квитка</option>
                </select>
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Номер квитка</th>
                <th scope="col">ПІБ</th>
                <th scope="col">Email</th>
                <th scope="col">Номер телефону</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reader in Model.Items)
            {
                <tr>
                    <td>@reader.LibraryCardNumber</td>
                    <td>@reader.FullName</td>
                    <td>@reader.Email</td>
                    <td>@reader.Phone</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@reader.ReaderID">Видалити</a>
                        <a asp-action="Edit" asp-route-id="@reader.ReaderID">Редагувати</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_PaginationPartial", (Model.Page, Model.TotalPages))
</div>